# ignore all .log and .err files
*.log
*.err

# create sample .log and .err
!sample.log
!sample_batch.log
!sample.err
!sample_batch.err

# ignore credentials
*credentials*
*credential*

# cache folder
*pycache*