# ignore all .log and .err files
*.log
*.err

# ignore credentials and config
*credential*
*config*

# ignore temporary file
*temp*

# vscode cache
.vscode

# ignore venv
.venv*

# cache folder
*pycache*

# add all sample
!sample*
